name: Build APK

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-

      - name: Wait 4 minutes
        run: sleep 240


      - name: Build APK
        run: |
          source ./app/src/main/java/com/productivity/wind/Imports/Data/Ignore_Imports.sh
          give_gradle_permission

          Build_APK


      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-${{ github.run_number }}.apk
          path: app/build/outputs/apk/release/app-release.apk



          

